.score-div{
    border: solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 25em;
    margin-top: 5em;
}

.details-div{
    border: solid black;
    display: flex;
    justify-content: space-evenly;
}

.score-name, .score-grade{
    width: 100px;
    border-left: 1px;
    border-bottom: 1px;
    border-top: 1px;
}

.score-name{
    border-right: 1px;
}

.input-div{
    display: flex;
    justify-content: center;
    gap:5em;
}

